.cart-icon {
    position: fixed;
    top: 1px;
    right: 75px;
    width: 80px;
    height: 80px;
    background: url('images/cart.png') no-repeat center center;
    background-size: contain;
    cursor: pointer;
    z-index: 1001;
}

/*MOBILE */
@media (max-width: 390px) {

    .cart-icon {
        position: fixed;
        top: 0px;
        right: 300px;
        width: 80px;
        height: 80px;
        background: url('images/cart.png') no-repeat center center;
        background-size: contain;
        cursor: pointer;
        z-index: 1001;
    }
}